@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap);
html,
body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

.background:first-child {
  background-image: url(https://cdn.pixabay.com/photo/2024/02/10/04/52/ai-generated-8564135_1280.png);
  transform: translateY(-15vh);
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child .content-wrapper {
  transform: translateY(15vh);
}

.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(1):before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.362);
}

.content-title {
  position: absolute;
  top: 20vh;
  right: 35vw;
  font-size: 80px;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
}

.content-subtitle {
  position: absolute;
  top: 75vh;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 34px;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
}
.scroll-down {
  margin-top: 20px;
  display: block;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  font-family: 'Dancing Script', cursive;
  text-transform: uppercase;
}
.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}
